.privacy-container{
    margin-bottom:40px;
    h1{
        font-size: 3em;
        margin:20px 0;
    }
    h2{
        font-size: 2em;
        margin:10px 0;
    }
    p{
        line-height: 1.4em;
        margin:5px 0;
    }
}