div.main-content{
    .register-form{
        background: #fff;
        margin-top:30px;
        @media (min-width: 768px) and (max-width: 991px) {
          margin-top:22px;
        }
        .form-error{
            color:#000;
            font-family: 'DBHelvethaicaX55Regular';
            font-size: 1.2em;
        }
    }
    label,input,select,option,textarea{
        color: $secondary-color;
        font-family: 'DBHelvethaicaX55Regular';
        font-size: $font-size-1;
    }
    input,select,option,textarea{
        color:#333333;
    }
    .form-corner{
        margin-top:-97px;
        float:right;
        position: relative;
    }
    .btnSubmit{
        background: none;
        border: none;
        float: right;
        margin-top:5px;
        margin-right: 40px;
    }
    .input-container{
        background-color: $four-color;
        padding:20px 20px 0px 20px;
    }
    .thankyou-container{
        background:#fff;
        h1{
            color:$primary-color;
            font-size:5em;
            font-family: 'DBHelvethaicaX55Regular';
            font-weight: bold;
        }
        h2{
            color:$primary-color;
            font-size:3.8em;
            font-family: 'DBHelvethaicaX55Regular';
            font-weight: bold;
        }
        p{
            color: $fifth-color;
            font-size:2.5em;
            font-family: 'DBHelvethaicaX55Regular';
        }
    }
}
