$primary-color: #ee7202;
$secondary-color: #ffffff;
$third-color: #979797;
$four-color:#f08423;
$fifth-color:#929292;

$font-size-1:1.2em;
$font-size-2:1em;
body{
    background-image: url('../images/bg.jpg');
    background-position: top center;
    header{
        background-color: $primary-color;
        .img-logo{
            max-height: 100%;
        }
    }
    div.main-content{
        padding-top: 30px;
    }
    footer{
        .footer-container{
            background-color: #fff;
            background-image: url('../images/footer/border-footer.png');
            background-repeat: repeat-x;
            padding-top:4px;
        }
        .copyright{
        }
        .privacy{
            text-align: right;
            background-image: url('../images/footer/bg-footer.png');
            background-position: bottom right;
            background-repeat: no-repeat;
            a{

                margin-right:30px;
            }
        }
        label{
            font-family: 'DBHelvethaicaX55Regular';
            font-size: $font-size-2;
            color: $third-color;
        }
    }
}
