/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
/* line 2, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

/* line 2, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 2, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 2, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 2, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 2, ../sass/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 2, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 9, ../sass/_template.scss */
body {
  background-image: url("../images/bg.jpg");
  background-position: top center;
}
/* line 12, ../sass/_template.scss */
body header {
  background-color: #ee7202;
}
/* line 14, ../sass/_template.scss */
body header .img-logo {
  max-height: 100%;
}
/* line 18, ../sass/_template.scss */
body div.main-content {
  padding-top: 30px;
}
/* line 22, ../sass/_template.scss */
body footer .footer-container {
  background-color: #fff;
  background-image: url("../images/footer/border-footer.png");
  background-repeat: repeat-x;
  padding-top: 4px;
}
/* line 30, ../sass/_template.scss */
body footer .privacy {
  text-align: right;
  background-image: url("../images/footer/bg-footer.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}
/* line 35, ../sass/_template.scss */
body footer .privacy a {
  margin-right: 30px;
}
/* line 40, ../sass/_template.scss */
body footer label {
  font-family: 'DBHelvethaicaX55Regular';
  font-size: 1em;
  color: #979797;
}

/* line 2, ../sass/_register.scss */
div.main-content .register-form {
  background: #fff;
  margin-top: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 2, ../sass/_register.scss */
  div.main-content .register-form {
    margin-top: 22px;
  }
}
/* line 8, ../sass/_register.scss */
div.main-content .register-form .form-error {
  color: #000;
  font-family: 'DBHelvethaicaX55Regular';
  font-size: 1.2em;
}
/* line 14, ../sass/_register.scss */
div.main-content label, div.main-content input, div.main-content select, div.main-content option, div.main-content textarea {
  color: white;
  font-family: 'DBHelvethaicaX55Regular';
  font-size: 1.2em;
}
/* line 19, ../sass/_register.scss */
div.main-content input, div.main-content select, div.main-content option, div.main-content textarea {
  color: #333333;
}
/* line 22, ../sass/_register.scss */
div.main-content .form-corner {
  margin-top: -97px;
  float: right;
  position: relative;
}
/* line 27, ../sass/_register.scss */
div.main-content .btnSubmit {
  background: none;
  border: none;
  float: right;
  margin-top: 5px;
  margin-right: 40px;
}
/* line 34, ../sass/_register.scss */
div.main-content .input-container {
  background-color: #f08423;
  padding: 20px 20px 0px 20px;
}
/* line 38, ../sass/_register.scss */
div.main-content .thankyou-container {
  background: #fff;
}
/* line 40, ../sass/_register.scss */
div.main-content .thankyou-container h1 {
  color: #ee7202;
  font-size: 5em;
  font-family: 'DBHelvethaicaX55Regular';
  font-weight: bold;
}
/* line 46, ../sass/_register.scss */
div.main-content .thankyou-container h2 {
  color: #ee7202;
  font-size: 3.8em;
  font-family: 'DBHelvethaicaX55Regular';
  font-weight: bold;
}
/* line 52, ../sass/_register.scss */
div.main-content .thankyou-container p {
  color: #929292;
  font-size: 2.5em;
  font-family: 'DBHelvethaicaX55Regular';
}

/* line 1, ../sass/_privacy.scss */
.privacy-container {
  margin-bottom: 40px;
}
/* line 3, ../sass/_privacy.scss */
.privacy-container h1 {
  font-size: 3em;
  margin: 20px 0;
}
/* line 7, ../sass/_privacy.scss */
.privacy-container h2 {
  font-size: 2em;
  margin: 10px 0;
}
/* line 11, ../sass/_privacy.scss */
.privacy-container p {
  line-height: 1.4em;
  margin: 5px 0;
}
