/* line 2, ../sass/template/_masterpage.scss */
header .header-container {
  height: 70px;
  background-image: url("../images/template/navigate/nav-bg-left.png");
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
}
/* line 9, ../sass/template/_masterpage.scss */
header .header-container nav ul {
  margin: 0;
  float: right;
  margin-right: 20px;
}
/* line 13, ../sass/template/_masterpage.scss */
header .header-container nav ul li {
  display: block;
  float: left;
  padding: 8px 20px;
}
/* line 24, ../sass/template/_masterpage.scss */
header .header-container a.logo {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 31, ../sass/template/_masterpage.scss */
footer {
  background-color: #fff;
  background-image: url("../images/template/footer-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
}

/* line 1, ../sass/template/_home.scss */
body.home {
  background-image: url("../images/home/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
/* line 6, ../sass/template/_home.scss */
body.home .main-content .container {
  background-image: url("../images/home/bg-left.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 10, ../sass/template/_home.scss */
body.home .main-content .container img.promotion {
  margin: 160px 0;
}
