body.home{
    background-image: url('../images/home/bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    .main-content{
        .container{
            background-image: url('../images/home/bg-left.png');
            background-position: top left;
            background-repeat: no-repeat;
            img.promotion{
                margin:160px 0;
            }
        }
    }
}