header{
    .header-container{
        height:70px;
        background-image: url('../images/template/navigate/nav-bg-left.png');
        background-position: right top;
        background-repeat: no-repeat;
        position: relative;
        nav{
            ul{
                margin:0;
                float: right;
                margin-right: 20px;
                li{
                    display: block;
                    float: left;
                    padding:8px 20px;
                    a{
                        img{
                        }
                    }
                }
            }
        }
        a.logo{
            position: absolute;
            top:0;
            left:0;
        }
    }
}
footer{
    background-color: #fff;
    background-image: url('../images/template/footer-bg.png');
    background-position: top center;
    background-repeat: no-repeat;
}